# ======================
# VIRTUAL ENV
# ======================
venv/

# ======================
# ENV FILES
# ======================
.env
.env.*

# ======================
# PYTHON CACHE
# ======================
__pycache__/
*.pyc

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# VECTOR DB / RAG
# ======================
faiss_index/
vectorstore/
chroma_db/
*.faiss
*.pkl

# ======================
# LOGS
# ======================
*.log

# ======================
# DATA (PDF / docs)
# ======================
data/
documents/
uploads/
